.accordion-item {
  padding-bottom: 15px;
  margin-bottom: 15px;
  border: none;
  @include border(bottom, 1px, solid, $border-color);
  .accordion-button{
    background: none;
    padding: 0;
    border: none;
    color: $dark;
    box-shadow: none;
    font-weight: 500;
    &:after {
      display: none;
    }
  }
  .accordion-header {
    position: relative;
    padding: 10px 0;
    &:after {
      content: '\e983';
      font-family: $unicon-line;
      @include position(absolute, 0, 0, 0, null);
      width: 36px;
      height: 36px;
      font-size: 18px;
      line-height: 36px;
      display: flex;
      align-content: center;
      justify-content: center;
      border-radius: 100%;
      color: $primary;
      background: rgba($primary, 0.2);
      margin: auto 0;
    }
    &.collapsed:after {
      content: '\e98c';
    }
  }
  .accordion-collapse {
    border: none;
  }
  .accordion-body {
    padding: 30px 15px 0 15px;
  }
}